In [29]:
# Introduction to Python

# gems 7 8
## gems7 8
### gems7 8


# Shortcut Keys
- (ctrl + enter) run the cell
- ( shift + enter) run the cell and create new cell below
- (D + D) to delete a cell
- (M) convert cell to markdown
- (Y) convert cell to code
- (C) copy cell
- (V) paste cell
- (X) cut cell
- (A) create new cell above
- (B) create new cell below
- (J) toggle down

## Variable: Variable is a container used to store values

In [1]:
a=121 # as an integer

In [7]:
a

121

In [65]:
b=8.5  # as a floating point

In [10]:
b

8.5

In [14]:
b

8.5

### string is a text value which should be with double/single Quotation/commas'

In [1]:
c="cat" #as a string
c

'cat'

In [16]:
c

'cat'

In [17]:
a=b=c=222

In [18]:
a

222

In [19]:
b

222

In [20]:
c

222

In [21]:
x=y=z=(7,8,9)

In [22]:
x

(7, 8, 9)

In [23]:
y

(7, 8, 9)

In [24]:
z

(7, 8, 9)

In [25]:
var1="ram"
var2=555
var3="Hari likes cricket"

In [26]:
print(var1,var2,var3)

ram 555 Hari likes cricket

In [27]:
print(var1,"#",var2,"$",var3,"@")

ram # 555 $ Hari likes cricket @

In [2]:
x =786
x

786

In [3]:
var1,var2,var3=1,2,3

In [4]:
var3

3

In [5]:
print(var1)

1

In [6]:
###List

## List
- List is a collection of elementsseparated bycomma and enclosed by square bracket[_]. List in python is a group of different types of elements

In [7]:
Fruits=["Apple","Orange","Pine","Grapes","Mango"]

In [8]:
Fruits

['Apple', 'Orange', 'Pine', 'Grapes', 'Mango']

In [12]:
Fruits_Mixed=["Banana","Plum",111,222,333]

In [13]:
Fruits_Mixed

['Banana', 'Plum', 111, 222, 333]

In [14]:
#Accessing the value in a list
Fruits[0]

'Apple'

In [17]:
#Accessmango
Fruits[4]

'Mango'

In [18]:
Fruits_Mixed[2]

111

In [20]:
#access plum
Fruits_Mixed[1]

'Plum'

In [24]:
#replace values
Fruits[2]="Strawberry"

In [25]:
Fruits

['Apple', 'Orange', 'Strawberry', 'Grapes', 'Mango']

In [ ]:
## Slicing
- to access range of values use :

In [26]:
Fruits[1:4]

['Orange', 'Strawberry', 'Grapes']

In [28]:
#access all values
Fruits[:]

['Apple', 'Orange', 'Strawberry', 'Grapes', 'Mango']

In [29]:
#access grapes and mango
Fruits[3:5]

['Grapes', 'Mango']

In [31]:
#access all values from orange
Fruits[1:5]

['Orange', 'Strawberry', 'Grapes', 'Mango']

In [32]:
#another way of accesssing orange
Fruits[1:]

['Orange', 'Strawberry', 'Grapes', 'Mango']

In [37]:
#access all values up to grapes
Fruits[0:4]

['Apple', 'Orange', 'Strawberry', 'Grapes']

In [35]:
#access the last value
Fruits[-1]

'Mango'

In [38]:
Fruits[-3]

'Strawberry'

In [44]:
#Text slicing
Statements="Hari works with Tesla"

In [51]:
#access Tesla
Statements[-5:]

'Tesla'

In [46]:
Fruits

['Apple', 'Orange', 'Strawberry', 'Grapes', 'Mango']

In [47]:
#sort in an alphabetic order
Fruits.sort()

In [48]:
Fruits

['Apple', 'Grapes', 'Mango', 'Orange', 'Strawberry']

In [82]:
numbers=[777,888,555,333,121]
numbers.sort()
numbers

[121, 333, 555, 777, 888]

In [53]:
#to sort in descending order
numbers.sort(reverse=True)
numbers

[888, 777, 555, 333, 121]

In [55]:
#ascending order
numbers.sort(reverse=False)
numbers

[121, 333, 555, 777, 888]

In [57]:
#append new value
numbers.append(999)
numbers

[121, 333, 555, 777, 888, 999, 999]

In [62]:
#pop out the last value
numbers.pop
999

999

In [59]:
#max value in list
max(numbers)

999

In [60]:
#min value in list
min(numbers)

121

In [63]:
#length of the list
len(numbers)

7

In [68]:
# to remove a value from list
numbers.remove(121)
numbers

[333, 555, 777, 888, 999, 999]

In [71]:
numbers.remove(888)
numbers

[333, 555, 777, 999, 999]

In [72]:
#to insert a value in list
#insert hello
numbers.insert(3,"hello")
numbers

[333, 555, 777, 'hello', 999, 999]

In [73]:
# to delete a value
del numbers[3]
numbers

[333, 555, 777, 999, 999]

In [85]:
#to delete a multiple values
del numbers[2:]
numbers

[121, 333]

In [87]:
#nested list
nested_list=[222,"hari",[32,51],88,[21,54,67]]
nested_list[2]

[32, 51]

In [98]:
#access 67 from nested list
nested_list[4][2]

67

In [100]:
#insert"hello in 2nd index of nested list
nested_list.insert(2,"hello")
nested_list

[222, 'hari', 'hello', [32, 51], 88, [21, 54, 67]]

In [101]:
#replace 51 with 999
nested_list[3][1]=999

In [102]:
nested_list

[222, 'hari', 'hello', [32, 999], 88, [21, 54, 67]]

#tuple
tuple is immutable/not modified

In [104]:
tuple=(22,33,11,"ttt",9.21)

In [108]:
tuple=1,58,"yy",745,"jk"

In [1]:
# Import data set

In [2]:
a =10
a

10

In [4]:
# to know the data type
print(type(a))

<class 'int'>

In [5]:
print(id(a))

140711275631688

In [10]:
abc = 1.5

In [11]:
print(type(abc))

<class 'float'>

In [8]:
print(id(a))

2728625377008

In [12]:
a = 52
b = 52

In [13]:
print(a is b)

True

In [14]:
print(id,(a), id(b))

<built-in function id> 52 140711275633032

In [16]:
a = bool(20)
print(a, type(a))
-->True <class'bool'>

SyntaxError: invalid syntax (869378140.py, line 3)

In [23]:
triple_quoted = '''Hi mehfooz hussain cn
                                             How are you'''

In [24]:
print(triple-quote)

NameError: name 'triple' is not defined

In [26]:
first_name = Mehfooz
last_name = cn
full_name = (first_name+" "+last_name)

NameError: name 'Mehfooz' is not defined

In [29]:
text = "PYTHON"
length =len(text)
print(length)

6

In [30]:
first_char = text[2]

In [1]:
my_list = []

In [2]:
another_list = [1, 'two', 3.0,[4,5]]

In [3]:
another_list = [0]

In [4]:
mixed_list = [1, 'char', 6.3]

In [5]:
#Addition
#Append:
my_list = [1,2,3]
my_list.append(mixed_list)

In [6]:
print.my_list

AttributeError: 'builtin_function_or_method' object has no attribute 'my_list'

In [7]:
my_list1 = [1,2,3]
my_list2 = [4,5]
list.extend(my_list2)
print(my_list1, my_list2)

TypeError: list.extend() takes exactly one argument (0 given)

In [31]:
#removal
#remove:
my_list = [1,2,3,2]
my_list.remove(2)
print(my_list)

#pop
my_list = [1,2,3]
print(my_list[0])
poped_list = my_list.pop(1)
print(popped_list)
print(my_list)

#del:
my_list = (1,2,3)
del my_list(2)
print (my_list)

SyntaxError: cannot delete function call (1601951462.py, line 16)

In [17]:
list1 = [1,2,3,]
type(list)

list

In [23]:
print (list1)

[1, 2, 3]

In [27]:
print(2)

2

In [30]:
#copy:
original_list = [1,2,3]
copied_list = original_list.copy()
print(original_list,copied_list)

#list:
copied_list2 = list(original_list)
print(copied_list2)

[1, 2, 3] [1, 2, 3]

TypeError: 'list' object is not callable

In [32]:
#positive indexing:
my_list = ['a','b' 'c' 'd', 100, 'python']
first_element = my_list[0]
third_element = my_list[2]
print(first_element,third_element)

a 100

In [35]:
#negative indexing:
last_element = my_list[-1]
second_last = my_list[-3]
print(last_element,second_last)

python bcd

In [ ]:
#slice assignment
numbers = [1,2,3,4,5,6,7,8,9]

In [8]:
x
type(x)

int

In [9]:
a =1.23
type(a)

float

In [10]:
 name = 'Mehfooz'
type(name)

str

In [11]:
a = x+2
type(a)

int